
.App {
  text-align: center;
}


body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.pageHeader {
  background-color: #daed49;
  height: 95px;
  display: flex;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  
}

.headerText{
  left: 64.5px;
  justify-content: left;
  position: absolute;
  height: 48px;
  font-family: "LatoBold";
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  }

.blue-side {
  background-color:  #00bdd4; 
  position: absolute;
  width: 51.33%;
  height: 95px;
  margin: 0 0 0 0;
  left: auto;
  right: 0;
  clip-path: polygon(5.6% 0, 100% 0, 100% 100%, 0% 100%);
}


.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 51.5px;
}


.titleText{
  width: 600px;
  height: 230px;
  text-align: left;
  font-size: 60px;
  line-height: 72px;
  font-family: "LatoRegular";
  margin-left: 15.45%;
  font-weight: 550;
}

.bold{
  font-family: "LatoBold";
}

.boldBlueText{
  font-family: "LatoBold";
  font-size: 70px;
  line-height: 84px;
  color:#00bdd4;
}

.leftSide{
  /*margin-top: 131px;*/
  padding-top: 3.17%;
  width: 45%;
  /*margin-left: 197px;*/
  padding-left: 3.4%;
  /*margin-right: 100px;*/
  padding-right: 3.4%;
  /*width: 33.1%;*/
  padding-bottom: 5%;
}

.leftSide img{
  /*width: 647px;*/
  margin-top: 4.5%;
  margin-left: 2.5%;
  /*height: 664px;  */
  height: auto;
}

ul{
  all: unset;
}


.rightSide{
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 55%;
  /*margin-top: 120px;*/
  padding-top: 6.3%;
  /*margin-left: 110px;*/
  padding-left: 2.7%;
  /*padding-right: 5%;*/
  padding-right: 0%;
  padding-bottom: 5%;
}


.episode{
  display: grid;
  grid-template-columns: 120px 505px;
  grid-template-rows: 106px;
  font-family: "LatoBold";
  font-size: 25px;
}


.episodeName{
  grid-area: 1 / 1 / 2 / 1;
  border-right: 1px solid #D1D1D1;
  font-family: "LatoBlack";
  line-height: 62px;
  margin-left: -1px;
  font-weight: light;
}



.episodeInfo{
  grid-area: 1 / 2 / 2 / 2;
  margin-left: 29px;
  margin-top: 16px;
  
}

.episodeTitleBlue{
  color:#00BDD4;
  height: 50%;
}

.episodeTitleGreen{
  color: #BDD800;
  height: 50%;
}

.episodeDate{
  grid-area: 2 / 2 / 2 / 2;
  font-size: 20px;
  color: #959595;
  position: relative;

}

.footer{
  background-color: #464646;
  text-align: center;
  font-family: "LatoBold";
  font-size: 16px;
  line-height: 19px;
  height: 60.23px;
  padding-top: 7px;
  padding-left: 20px;
  color: #CCCCCC;
  bottom: 0;

}

.loadInfo{
  font-size: 18px;
  text-align: center;
  font-family: "LatoBold";
  color: #00BDD4;
}

#loadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#errorScreen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (max-width: 1400px){
  .leftSide{
    width: 40%;
  }
  .titleText{
    font-size: 35px;
    line-height: 42px;
    width: 337px;
    height: auto;
    margin: 0 0 0 0.7%;
    padding: 0 0 0 0;

  }
  .rightSide{
    
    padding-top: 5.05%;
  }

  .boldBlueText{
    font-size: 40px;
    line-height: 48px;
  }
  .leftSide img{
    width: 90%;
  }

  .episode{
    font-size: 18px;
    grid-template-columns: 90px 400px;
    grid-template-rows: 80px;
  }
  .episodeDate{
    font-size: 15px;

  }
}

@media (max-width: 1000px) {

  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  .pageHeader{
    justify-content: center;
    text-align: center;
    height: 71px;
    width: 100%;
    
  }
  .headerText{
    left: auto;
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-left: 0px;
    height: 23px;
  }
  .blue-side{
    width: 0;
    height: 0;
  }
  .container {
    flex-direction: column;
    padding-bottom: 6.5%;
  }
  .leftSide{
    padding: 1.5% 8.4% 6.7% 6.1%;
    margin: 0 0 0 0;
    width: auto;
  
  }
  .leftSide img{
    /*width: 351px;
    height: 360px;*/
    width: 80%;
    height: auto;
    margin-top: 8.7%;
    margin-left: 0;

  }
  .rightSide {
    flex: none;
    width: 100%;
  }

  .titleText{
    width: 550px;
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 0 15%;
    padding: 0 0 0 0;
  }

  .boldBlueText{
    font-size: 70px;
    line-height: 84px;
  }

  .rightSide {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 37px;
    padding-left: 26px;
    padding-right: 10px;
    width: 90%;
  }

  .episode{
    display:block;
    font-family: "LatoBold";
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
    width: 97%;
    margin: 0 0 0 0;
    margin-right: 30px;
  }

  .episode:last-child{
    border:none;
  }

  .episodeName{
    border: none;
    font-family: "LatoBold";
    font-weight: light;
    line-height: 40px;
    margin-top: 7px;
  }
  .episodeInfo{
    margin-left: -1px;
    margin-top: 5px;
    padding-bottom: 21px;
  }

  
  .episodeDate{
    font-size: 15px;
    color: #959595;
    margin-top: 14px;
  }

  .footer{
    height: 50px;
    overflow-x: hidden; 
    padding: 1px 0 0 0;
    margin: 0 0 0 -18px;
    font-size: 14px;
  }

}

@media (max-width: 800px){
  .titleText{
    font-size: 50px;
    line-height: 60px;
  }
  .boldBlueText{
    font-size: 60px;
    line-height: 60px;
  }
  .leftSide img{
    margin-top: 10px;
  }
}

@media (max-width: 620px) {
  .leftSide{
    padding: 1.5% 8.5% 6.7% 6.1%;
    margin: 0 0 0 0;
  }
  .leftSide img{
    /*width: 351px;
    height: 360px;*/
    width: 80%;
    height: auto;
    margin-top: 8.7%;
    margin-left: 0;

  }
  .titleText{
    font-size: 35px;
    line-height: 42px;
    width: 337px;
    height: 142px;
    margin: 0 0 0 0.7%;
    padding: 0 0 0 0;

  }
  .rightSide{
    margin-top: 0;
    padding-top: 2.05%;
  }

  .boldBlueText{
    font-size: 40px;
    line-height: 48px;
  }

  @media (max-width: 500px) {
    .leftSide img{
      /*width: 351px;
      height: 360px;*/
      width: 100%;
    }
  }

}